.p-contents {
   position: relative;
   height: 100%;
   @import "../component/headline";
   @import "../component/hamburger";
   @import "../project/overlay";
   @import "../project/global";
   &--main {
      width: 85%;
      margin: 20px auto;
      @import "../project/disc";
      @import "../project/caff-menu";
   }
   &--bottom {
      position: relative;
      height: 100%;
      @import "../component/headline";
      @import "../project/global";
   }
}