.p-global {
   position: absolute;
   bottom: 0;
   .p-global-menu {
      display: flex;
      flex-direction: column;
      &__item {
         font-weight: bold;
         font-family: 'Alegreya Sans SC', sans-serif;
         font-size: 1.2rem;
         list-style: none;
         padding: 10px;
         > a {
            position: relative;
            color: white;
            text-decoration: none;
            &::after {
               position: absolute;
               bottom: -4px;
               left: 0;
               content: '';
               width: 100%;
               height: 2px;
               background:white;
               transform: scale(0, 1);
               transform-origin: left top;
               transition: transform .3s;
            }
            &:hover::after {
               transform: scale(1, 1);
            }
         }
      }
      .u-padding--global-menu__item {//single//
         padding: 0 15px;
      }
   }
   .u-flex--row {
      flex-direction: row;
   }
}
@import "../utility/position";//single//